.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #fff; /* ou var(--mat-sys-surface) se usar tema M3 */
  border-radius: 8px;
}

.row {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  
  .col-2 {
    flex: 1;
    min-width: 250px;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}